/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #343a40;
    color: #ffffff;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
    padding: 0.5rem 0.75rem; /* Adjust padding for smaller buttons */
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
    color: #df9cec;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5em; /* adjust icon size to fit smaller screens */
    height: 1.5em;
}

.navbar-collapse {
    flex-basis: 100%; /* make sure collapse container takes full width */
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #343a40;
}

p, ul {
    font-size: 1.1rem;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Project Section */
#proyectos .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#proyectos .col-md-4 {
    margin-bottom: 30px;
}

#proyectos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#proyectos h2 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
}

#proyectos p {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.small-text {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.hover-link {
    text-align: center;
    margin-right: 20px; /* add a margin to the right of the first link */
}

footer .hover-link:hover {
    color: #df9cec;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p, ul {
        font-size: 1rem;
    }

    #proyectos .col-md-4 {
        width: 100%;
    }
}
